<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/scripts.js"></script>
    <title>Weather web app</title>
</head>

<body>
    {{>header}}
    <div id="container">
        <form action="#" id="formCity">
            <div id="forecastForm">
                <input type="text" placeholder="Type your city here" name='city'>
                <input type="submit" value="Search now">
            </div>
        </form>

        <div id="results" class="hide">
            <h2>Weather forecast for <span id="cityResult"></span></h2>
            <div class='row'>
                <div class='col temp'>
                    <h3>Temperature</h3>
                    <p>213 °C</p>
                </div>
                <div class='col thermal-sensation'>
                    <h3>Thermal Sensation</h3>
                    <p>213 °C</p>
                </div>
                <div class='col humidity'>
                    <h3>Humidity</h3>
                    <p>213 </p>
                </div>
                <div class='col wind-speed'>
                    <h3>Wind speed</h3>
                    <p>213 °C</p>
                </div>
            </div>
        </div>

        <div id="errorMessage" class="hide">
            <h2>Error</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, debitis quis harum nobis aperiam voluptatum enim sit quae officiis rem eum assumenda reiciendis molestiae iste quasi sunt aut at voluptate.</p>
        </div>

    </div>
    {{>footer}}
</body>

</html>