<link rel="stylesheet" href="/css/generals.css">
<div class="footer">
    Created by 
        {{#if name}}
        <span class="author">{{name}}</span>
        {{else}}
        <span class="author">Jorge G.</span>
        {{/if}}
</div>