html,body{
    margin:0;
    margin-top: 20px;
    background-color: #E8E8E8;
}

body{
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

hr{
    color:#a0a0a0;
}

.footer{
    background-color: #aaa;
    color:white;
    width: 100%;
    height: 100px;
    position: relative;
    bottom:0;
    text-align: center;
    line-height: 100px;
    left:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer > .author{
    font-style: italic;
    font-weight: bolder;
}

.headerTitle{
    color: #5a5a5a;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


.buttonList{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.buttonList > a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#427BFF;
    font-weight: bold;
    text-decoration: none;
}

.buttonList > a:visited {
    color: #182C5C;
}


#forecastForm{
    margin: 100px auto 50px auto;
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#forecastForm > input{
    font-size: 20px;
    margin-top: 10px;
}

#forecastForm > input[type='text']{
    border: none;
    border-bottom: 2px solid #162E38;
    padding: 0 20px 0 20px;
    background-color: #E8E8E8;
}

#forecastForm > input[type='submit']{
    border-radius: 10px;
    height: 40px;
    border: none;
    background-color: #8a8a8a;
    color:white;
}

.hide{
    display:none;
}

#results{
    width: 90%;
    max-width: 800px;
    margin: 20px auto 50px auto;
}

#results > h2, #errorMessage > h2{
    font-size: 40px;
}

#errorMessage > h2{
    text-align: center;   
    color: #732C2A;
}


#errorMessage > p{
    text-align: center;
    color: #B04341;
    font-size: 23px;
}

#results > .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#results > .row > .col {
    margin: 0 10px 0 10px;
    width: 150px;
}

#results > .row > .col > p{
    text-align: center;
    font-size: 18px;
}

#results > .row > .col > h3{
    font-size: 25px;
    text-align: center;
    height: 60px;
    display: table-cell;
    width: 150px;
    vertical-align: middle;
}